@charset "utf-8";
body{background: #f2f2f2;}
.clear {clear: both;}
ul {display: block;}

.main {width: 100%;min-width: 1100px;}
.header {width: 100%; background: #fff;}
.header_center {width: 1000px; margin: 0 auto; padding-top: 30px; height: 130px; background: #fff;}
.nav {background: #1369c0; height: 37px;width: 100%;}
.nav_home{width: 1100px;margin:0 auto;}
#menu{width:1000px;height: 37px;margin:0 auto}
#nav{margin:0px;padding:0px;}
#nav .mainlevel{font-weight: normal;position: relative;}
.nav_home li{float: left;font-family: "FZYouHK_512B","微软雅黑","宋体";font-size: 20px;line-height: 37px;border-right: 1px solid #bfbfbf;display: block;}
.nav_home li a {display: block;color: #fff;padding: 0 24px;}

.content {width: 1100px;background: #fff;}

.footer{width: 1100px;height: 90px; background: #1369c0; margin: 0 auto;}
.footer-content{width: 1000px; margin: 0 auto;text-align: center;}
.footer-content span {font-size: 10px; color: #fff;}
